conda/
postgres.log
pg_db/
elasticsearch-7.10.1-darwin-x86_64.tar.gz
elasticsearch-7.10.1/
kibana-7.10.1-darwin-x86_64.tar.gz
kibana-7.10.1-darwin-x86_64/
logs/
es_data/
logstash-7.10.1/
logstash-7.10.1-darwin-x86_64.tar.gz
filebeat-7.10.1-darwin-x86_64.tar.gz
filebeat-7.10.1-darwin-x86_64/
yq
yq_darwin_amd64
ls_data/
postgresql-42.2.18.jar
data/
fb_data/
.logstash_jdbc_last_run
